#treeControls {
	float: right;
	width: 500px;
	display: none;
	padding: 5px;
}

#topologicalParentFilter {
	width: 500px;
}

button {
	float: right;
}

#progressBar {
	padding: 5px;
}

#treeContainer {
	height: 800px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tooltip {
	position: fixed;	
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid;
	border-radius: 5px;
	color: white;
	padding: 3px;
	pointer-events: none;
} 

.tooltipDetailTitle {
	display: inline-block;
	font-weight: bold;
	margin-right: 3px;
}

.separator {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin-top: 2px;
}

.node text {
	cursor: pointer;
}

.node circle {
	cursor: pointer;
	fill: #E6E6E6;
}

.node-root text {
	cursor: default;
}

.node-root circle {
	cursor: auto;
	fill: black;
}

.node-CRIT circle {
	fill: #B61211;
}

.node-WARN circle {
	fill: #DAD60B;
}

.node-OK circle {
	fill: #67B10B;
}

.node-MAINT circle {
	fill: #555B98;
}


.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}
