div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

#showEntireTreeContainer {
	float: right;
	display: none;
}

#selectTopLevelParentContainer {
	float: right;
	width: 500px;
	display: none;
}

#selectTopLevelParent {
	width: 500px;
}

#inProgressBar {
	padding: 5px;
}

#error {
	padding: 5px;
	display: none;
	color: DarkRed;
	width: 100%;
}

g.node {
	font-size: 12px;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tooltip {
	position: fixed;	
} 

.tooltipDetail li div {
	display: block;
	float: left;
}

.tooltipDetailTitle {
	font-weight: bold;
	margin-right: 3px;
	clear: left;
}

circle.node-dot {
	fill: lightsalmon;
	stroke: red;
	stroke-width: 1px;
}

path.link {
	fill: none;
	stroke: gray;
}

div.topoTree {
	height: 800px;
}

.systemTooltip {
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid;
	border-radius: 5px;
	color: white;
	padding: 3px;
	pointer-events: none;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#header.inverted,#footer.inverted {
	color: #fff;
	text-shadow: 0 1px 4px #000;
}

#header {
	top: 80px;
	left: 140px;
	width: 1000px;
}

#footer {
	top: 680px;
	right: 140px;
	text-align: right;
}

rect {
	fill: none;
	pointer-events: all;
}

pre {
	font-size: 18px;
}

line {
	stroke: #000;
	stroke-width: 1.5px;
}

.string,.regexp {
	color: #f39;
}

.keyword {
	color: #00c;
}

.comment {
	color: #777;
	font-style: oblique;
}

.number {
	color: #369;
}

.class,.special {
	color: #1181B8;
}

a:link,a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #666;
}

.hint {
	position: absolute;
	right: 0;
	width: 1280px;
	font-size: 12px;
	color: #999;
}