#selectTopLevelParentContainer {
	float: right;
	width: 500px;
	display: none;
	padding: 5px;
}

#selectTopLevelParent {
	width: 500px;
}

#inProgressBar {
	padding: 5px;
}

#error {
	padding: 5px;
	display: none;
	color: DarkRed;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tooltip {
	position: fixed;	
	display: none;
} 

.tooltipDetailTitle {
	display: inline-block;
	font-weight: bold;
	margin-right: 3px;
}

.separator {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin-top: 2px;
}

div.topoTree {
	height: 800px;
}

.systemTooltip {
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid;
	border-radius: 5px;
	color: white;
	padding: 3px;
	pointer-events: none;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}
